.expanded-card {
  display:flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #550505;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  top:0;
  left: 0;
  
  /* Sidebar stílus */
  .sidebar {
    width: 15%;
    background: #3a0303;
    text-align: left;
    margin: 0;
    padding: 0;
    top: 0;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      top: 0;
      left: 0;
    }
      li {
        cursor: pointer;
        width: 100%;
        top: 0;
        left: 0;
        button{
          color:wheat;
        }
      }
    
  }

  /* Fő tartalom */
  .content {
    width: 90%;
    padding: 20px;
    
  }
  #text{
    color:#c9a93c;
    padding: 20px 20%;
    max-height: 70vh;      /* a képernyő 70%-áig nőhet */
    overflow-y: auto;     /* FÜGGŐLEGES GÖRGETÉS */
    border-radius: 10px;
    /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #f7ef8a #3a0303;

  /* Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #3a0303;      /* sáv háttere */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #f7ef8a,
      #c9a93c
    );
    border-radius: 10px;
    border: 2px solid #3a0303;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      #fff3a0,
      #e0c45c
    );
  }
  }

  /* Akció gombok stílus */
  .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
  }
  button {
    background-color: #7c0f0f;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    left: 0;
    min-height: 30px;
    font-family:"Merienda" ;
  }
  button:hover{
    background-color: #8c1010;
    
  }
}
