.expanded-card {
  display:flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #550505;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  top:0;
  left: 0;
  
  /* Sidebar stílus */
  .sidebar {
    width: 15%;
    background: #3a0303;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    top: 0;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      top: 0;
      left: 0;
    }
      li {
        cursor: pointer;
        width: 100%;
        top: 0;
        left: 0;
      }
    
  }

  /* Fő tartalom */
  .content {
    width: 90%;
    padding: 20px;
  }

  /* Akció gombok stílus */
  .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
  }
  button {
    background-color: #7c0f0f;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    left: 0;
    min-height: 30px;
    font-family:"Merienda" ;
  }
  button:hover{
    background-color: #8c1010;
    
  }
}
