<div class="expanded-card">
  <!-- Sidebar navigáció -->
  <div class="sidebar">
    <ul>
      <li *ngFor="let navItem of filteredCards">
        <button (click)="selectnav(navItem)" class="action">{{ navItem.title }}</button>
      </li>
    </ul>
  </div>

  <!-- A fő tartalom -->
  <div class="content">
    <div id="text">
      <h2>{{ selectedNav?.title }}</h2>
      <h4>{{selectedNav?.little_title}}</h4>
      <ng-container *ngFor="let item of selectedNav?.description">
        <p>{{ item}}</p>
      </ng-container>
    </div>
  </div>
</div>
