<app-navbar></app-navbar>
<div id="main">
    <h1>Karakter Készítő</h1>
    <div class="classes">
        <app-expanded-description></app-expanded-description>
        <app-expanded-class></app-expanded-class>
        <app-expanded-race></app-expanded-race>
        <app-expanded-background></app-expanded-background>
        <app-expanded-ability_score></app-expanded-ability_score>
        <app-expanded-starterpack></app-expanded-starterpack>
        <div id="gomb">
            <button class="create-btn" (click)="mentes()">Létrehozás</button>
        </div>
    </div>
</div>  