<nav class="navbar">
    <div>
      <img id="logo" src="../assets/images/logo.png" routerLink="/home" routerLinkActive="active">
      <a routerLink="/characters" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Karakterek</a>
      <a routerLink="/campaigns" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Kampányok</a>
    </div>
    <div id="log">
        <button *ngIf="!authService.isAuthenticated()" routerLink="/login" routerLinkActive="active" >Bejelentkezés</button>
        <button *ngIf="authService.isAuthenticated()" (click)="toggleAccountPanel()" class="account-btn">Fiók</button>
    </div>
</nav>
<div class="account-overlay" *ngIf="showAccountPanel" (click)="toggleAccountPanel()">
  <div class="account-panel" (click)="$event.stopPropagation()">

    <p><strong>Email:</strong> <br>{{ userEmail }}</p>

    <div class="input-wrapper">
    <input type="password"
            [(ngModel)]="currentPassword"
            placeholder="Régi jelszó" />
    </div>

    <div class="input-wrapper">
    <input type="password"
            [(ngModel)]="newPassword"
            placeholder="Új jelszó"
            title="Legalább 8 karakter, 1 nagybetű, 1 szám"/>
    </div>

    <div class="input-wrapper">
    <input type="password"
            [(ngModel)]="confirmPassword"
            placeholder="Új jelszó újra" />
    </div>

    <p class="error" *ngIf="passwordError">{{ passwordError }}</p>
    <p class="success" *ngIf="passwordSuccess">{{ passwordSuccess }}</p>

    <button class="change-pass-btn" (click)="submitPasswordChange()">Jelszó módosítása</button>
    <button class="logout-btn" (click)="logout()">Kijelentkezés</button>

  </div>
</div>