.expandable-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  min-width: 200px;
  margin: 30px auto;

}
button{
  font-family: "Merienda";
}
input{
  font-family: "Merienda";
}
select{
  font-family: "Merienda";
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
  h2 {
    font-size: 30px;
    color: #333;
    margin: 0;
  }

  .expand-btn {
    padding: 10px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }

  
  .class-list {
    margin-top: 20px;
    background-color: #a3a3a3;
  }
  
  .class-item {
    margin-bottom: 15px;
  }
  
  .class-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  .kivalaszt{
    padding: 10px 16px;
    background-color: #7c0f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    &:hover {
      background-color: goldenrod;
    }
  }
  select {
    flex: 2;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
    min-width: 200px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2px;
    margin-left: 5%;
  }