.campaign-container {
  margin-top: 50px;
  max-width: 900px;
  padding: 20px;

  color: black;
}
#bg{
    min-height: 100vh;
    background-image:url("/../assets/images/card_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Merienda";
  }
.description {
  font-style: italic;
  margin-bottom: 25px;
  font-size: 1.2rem;
  opacity: .9;
}
span{
  font-family: "Darker";
}
h3{
  font-family: "Berk";
}
#copy{
  background-color: green;
  min-height: 20px;
  min-width: 40px;
  font-size: xx-small;
  padding: 5px;
  
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.character-card {
  background-image: url("/assets/images/characterSelection.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 135px;
  position: relative;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup {
  background: #2b2b2b;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #d5b462;
  width: 350px;
  text-align: center;
  color: #fff;
  font-family: "Merienda";
  h3{
    font-family: "Merienda";
  }
  button{
    font-family: "Merienda";
  }
}

.btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-family: "Merienda";
}

.cancel {
  background: #444;
  color: white;
}

.confirm {
  background: #b02424;
  color: white;
}

.leave-btn {
  background: #b02424;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}
/* Alap gomb stílus minden gombhoz */
.character-card button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease;

}
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-row button {
  width: 35%;
}
/* Megnyitás gomb stílus */
.open-btn {
  background-color: #7c0f0f; /* bordó árnyalat */
  color: white;
  right: 0px;
}

.open-btn:hover {
  background-color: #5a0b0b;
}

/* Kilépés gomb stílus */
.character-card .leave-btn {
  background-color: #c94444; /* piros árnyalat */
  color: white;
}

.character-card .leave-btn:hover {
  background-color: #a23333;
}

/* Mobilbarát: ha túl szűk a hely, a gombok alá kerülhetnek */
@media (max-width: 500px) {
  .character-card button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
}