<div class="expandable-card">
    <div class="card-header">
      <h2>Háttér Történetek</h2> 
      <button (click)="toggleExpand()" class="expand-btn">
        {{ expanded ? 'Bezárás' : 'Bővítés' }}
      </button>
    </div>
    
    
    <!-- A gomb, amivel bővíthetjük a fő kártyát -->
    
  
    <!-- Ha bővítve van, akkor megjelenik a kasztok listája -->
      <div *ngIf="expanded" class="class-list">
        <div *ngFor="let card of children">
          <div class="class-item">
            <div class="card-header">
            <h3>{{ card.name }}</h3>
            <button (click)="toggleBgDetails(card.id)" class="expand-btn">
              {{ expandedBgId === card.id ? 'Bezárás' : 'Bővítés' }}
            </button>
            
          </div>
            <!-- A kaszt részletes adatai, ha kibővítve -->
            <div *ngIf="expandedBgId === card.id" class="class-details"> 
              <button (click)="kivalaszt(card.id)" class="kivalaszt">
                {{ bgId === card.id ? 'Kiválasztva' : 'Kiválasztás' }}
              </button>
              <br>
            <p><strong>Leírás:</strong><br> {{ card.description }}</p>
            <h3>Tulajdonságok:</h3>
            <p><strong>Nyelvek:</strong><br> {{ card.language }}</p>
            <p><strong>Eszközjártasság:</strong><br>
              <ng-container *ngIf="card.tools?.length === 0">
                <em>Nincs eszközjártasság</em>
              </ng-container>
              <ng-container *ngIf="card.tools?.length > 0">
                <ng-container *ngIf="card.tools[0]==0; else selectTools">
                  <div *ngFor="let tool of card.tools | slice:1">
                    - {{ tool }}
                    {{ defaultTool(card.id, tool) }}
                  </div>
                </ng-container>
                <ng-template #selectTools>
                  <div *ngIf="initToolSelection(card)">
                    <div *ngFor="let _ of selectedTools[card.id]; let i = index">
                      <select
                        [ngModel]="selectedTools[card.id][i]"
                        (ngModelChange)="onSelectTool(card.id, i, $event)">
                        <option [ngValue]="null" disabled>-- Válassz egyet --</option>
                        <option *ngFor="let option of getToolOptions(card, card.id, i)" [ngValue]="option">
                          {{ option }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </p>

            <p><strong>Készségek:</strong><br>
              <ng-container *ngIf="card.skills?.length === 0">
                <em>Nincs készség</em>
              </ng-container>
              <ng-container *ngIf="card.skills?.length > 0">
                <ng-container *ngIf="card.skills[0]==0; else selectSkills">
                  <div *ngFor="let skill of card.skills | slice:1">
                    - {{ skill }}
                    {{ defaultSkill(card.id, skill) }}
                  </div>
                </ng-container>
                <ng-template #selectSkills>
                  <div *ngIf="initSkillSelection(card)">
                    <div *ngFor="let _ of selectedSkills[card.id]; let i = index">
                      <select
                        [ngModel]="selectedSkills[card.id][i]"
                        (ngModelChange)="onSelectSkill(card.id, i, $event)">
                        <option [ngValue]="null" disabled>-- Válassz egyet --</option>
                        <option *ngFor="let option of getSkillOptions(card, card.id, i)" [ngValue]="option">
                          {{ option }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </p>
            <p><strong>Nyelvek:</strong><br>
              <ng-container *ngIf="card.languages?.length === 0">
                <em>Nincs nyelv</em>
              </ng-container>
              <ng-container *ngIf="card.languages?.length > 0">
                {{ card.language }}{{setLanguage(card.languages)}}
              </ng-container>
            </p>
            <h3>Felszerelés</h3>
            <p>
              {{setBgEquipment(card.equipment)}}
              <ng-container *ngFor="let item of card.equipment; let i = index; let last = last">
                {{ item.db }} {{ item.name }}<span *ngIf="!last">, </span>
              </ng-container>
            </p>
            <h3>Képességek:</h3>
            <ng-container *ngFor="let group of groupedTraits(card.name)">
                <div *ngFor="let trait of group.traits">
                  <p><strong>{{ trait.title }}:</strong><br>{{ trait.description }}</p>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
</div>